{% extends 'base.html' %}
{% block body %}

  <h1> DTL(Django Template Language) 관련 문법 </h1>
  <ul>
    <li>for</li>
    <li>if </li>
    <li>helper / filter</li>
    <li></li>
  </ul>

  <h2>데이터를 넘겨 받는 법</h2>
  <p>{{name}}<p>
      <p>{{data}}</p>
      {% for item in data %}
      <p>{{item}}</p>
      {% endfor %}

      <h2>for문 활용법</h2>
      <h3>데이터가 없을 때,</h3>
      {% for movie in empty_data %}
      <p>{{ movie }}</p>
      <p>{{ forloop.counter }} : {{ movie }}</p>
      {% empty %}
      <p>영화 데이터가 없습니다.</p>
      {% endfor %}

      <h3>2중 for문</h3>
      {% for array in matrix %}
      {% for num in array %}
      <p>{{ num }}</p>
      {% endfor %}
      {% endfor %}

      <h2>다양한 helper / filter</h2>
      <h3>helper(built-in tag)</h3>
      <p>{% lorem 3 p%}</p>

      <h3>filter</h3>
      <h4>str 관련</h4>
      {% for movie in empty_data %}
      {{ movie|length }}
      <!--길이 출력-->
      {{ movie|truncatechars:3 }}
      <!--단어가 5개 이상이라면 '...' 처리-->
      {% endfor %}
      <h4>int, numeric 관련</h4>
      {{ number|add:10 }}

      <h4>datetime</h4>
      {% now 'Y년 M(m월) d일 D(요일)'%}
      <!--formating 가능-->
      {% now 'h시 i분' %}

{% endblock %}