{% extends 'eithers/base.html' %}

{% block body %}

<div class="container">

  <h1>{{ question.title }} </h1>

  <div style="display:flex; justify-content:space-around">
    <div>
      <h2>{{ question.issue_a }}</h2>
    </div>
    <div>
      <h2>{{ question.issue_b }}</h2>
    </div>
  </div>

  <div style="display:flex; justify-content:space-around;">
    <div>
      <img src="{{ question.image_a.url }}" alt="" style="max-width:450px; max-height:450px;">
    </div>
    <h2 style="line-height:300px;">VS</h2>
    <div>
      <img src="{{ question.image_b.url }}" alt="" style="max-width:450px; max-height:450px;">
    </div>
  </div>


  <form action="{% url 'eithers:answers_create' question.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <label for="comment" class="col-sm-2 col-form-label">Comment</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="comment" name="comment" placeholder="댓글을 작성하세요">
      </div>
    </div>

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">선택!</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios" value='1'>
            <label class="form-check-label" for="gridRadios">
              {{ question.issue_a }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios" value='2'>
            <label class="form-check-label" for="gridRadios">
              {{ question.issue_b }}
            </label>
          </div>
        </div>
      </div>
    </fieldset>


    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">선택완료</button>
      </div>
    </div>

  </form>

  <p><i>{{ answers | length }} 개의 댓글이 있습니다.</i></p>
  {% for answer in answers %}
  <!-- <p>{{ choices.answer.pick }}를 선택한 누군가 "{{ answer.comment }}"</p> -->
  <p>{{ answer.pick }}를 선택한 누군가 "{{ answer.comment }}"</p>
  {% empty %}
  <p>아직 댓글이 없습니다.</p>
  {% endfor %}



  <a href="{% url 'eithers:answers_delete' question.pk %}" class="btn btn-danger">삭제</a>

</div>



{% endblock %}