<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>홈페이지</h1>

  <form action="/result/" method="GET">
    문장을 입력해봐요 <input type="text" name="text">
    <button type="submit">Art!</button>
  </form>

  <select name="" id="">
    <option style="font-family:arial" value="arial">Arial</option>
    <option style="font-family:verdana" value="veranda">veranda</option>
  </select>

  <!-- {% for item in list%}
    {{item}}
  {% endfor %} -->

  <!-- {{list}} -->

</body>

</html>